In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('./data/raw/vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [5]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [6]:
df['sales_vs_genre_avg'] = df.groupby('Genre')['Global_Sales'].transform('mean').round(2)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,sales_vs_genre_avg
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.57
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.94
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.59
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.57
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.62

In [7]:
df['above_genre_avg'] = df.Global_Sales > df.sales_vs_genre_avg
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,sales_vs_genre_avg,above_genre_avg
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.57,True
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.94,True
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.59,True
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.57,True
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.62,True

In [8]:
#Rank games within each genre
df['genre_rank'] = df.groupby('Genre')['Global_Sales'].rank(method='dense', ascending=False)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,sales_vs_genre_avg,above_genre_avg,genre_rank
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.57,True,1.0
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.94,True,1.0
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.59,True,1.0
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.57,True,2.0
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.62,True,1.0

In [9]:
df['top_3_in genre'] = df['genre_rank'] <= 3
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,sales_vs_genre_avg,above_genre_avg,genre_rank,top_3_in genre
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.57,True,1.0,True
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.94,True,1.0,True
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.59,True,1.0,True
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.57,True,2.0,True
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.62,True,1.0,True

In [10]:
df['percentile_within_genre'] = df.groupby('Genre')['Global_Sales'].rank(pct=True)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,sales_vs_genre_avg,above_genre_avg,genre_rank,top_3_in genre,percentile_within_genre
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.57,True,1.0,True,1.000000
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.94,True,1.0,True,1.000000
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.59,True,1.0,True,1.000000
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.57,True,2.0,True,0.999574
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.62,True,1.0,True,1.000000

In [11]:
platform_pub_sales = df.groupby(['Platform', 'Publisher'])['Global_Sales'].agg('sum').reset_index()
platform_pub_sales

     Platform                               Publisher  Global_Sales
0        2600            20th Century Fox Video Games          1.94
1        2600                              Activision         19.42
2        2600                         Answer Software          0.50
3        2600                                   Atari         50.09
4        2600                      Avalon Interactive          0.17
...       ...                                     ...           ...
1796     XOne                          Telltale Games          0.46
1797     XOne                   Tru Blu Entertainment          0.05
1798     XOne                                 Ubisoft         17.91
1799     XOne                                 Unknown          0.03
1800     XOne  Warner Bros. Interactive Entertainment          9.20

[1801 rows x 3 columns]

In [12]:
max_publisher = platform_pub_sales.loc[platform_pub_sales.groupby('Platform')['Global_Sales'].idxmax()]
dominant = max_publisher[['Platform', 'Publisher']]

In [13]:
df = df.merge(dominant, on='Platform', how='left', suffixes=('', '_dominant'))
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,sales_vs_genre_avg,above_genre_avg,genre_rank,top_3_in genre,percentile_within_genre,Publisher_dominant
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.57,True,1.0,True,1.000000,Nintendo
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.94,True,1.0,True,1.000000,Nintendo
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.59,True,1.0,True,1.000000,Nintendo
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.57,True,2.0,True,0.999574,Nintendo
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.62,True,1.0,True,1.000000,Nintendo

In [14]:
df['is_dominant_publisher'] = df['Publisher'] == df['Publisher_dominant']
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,sales_vs_genre_avg,above_genre_avg,genre_rank,top_3_in genre,percentile_within_genre,Publisher_dominant,is_dominant_publisher
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.57,True,1.0,True,1.000000,Nintendo,True
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.94,True,1.0,True,1.000000,Nintendo,True
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.59,True,1.0,True,1.000000,Nintendo,True
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.57,True,2.0,True,0.999574,Nintendo,True
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.62,True,1.0,True,1.000000,Nintendo,True

In [15]:
#Platform peak year - The year that platform had the highest total global sales
platform_yearly_total = df.groupby(['Platform', 'Year'])['Global_Sales'].sum().reset_index()
platform_peak_year = platform_yearly_total.loc[platform_yearly_total.groupby('Platform')['Global_Sales'].idxmax()][['Platform', 'Year']]
platform_peak_year

    Platform    Year
1       2600  1981.0
11       3DO  1995.0
12       3DS  2011.0
20        DC  2000.0
29        DS  2007.0
39        GB  1989.0
55       GBA  2004.0
60        GC  2002.0
68       GEN  1992.0
71        GG  1992.0
75       N64  1999.0
81       NES  1985.0
92        NG  1994.0
115       PC  2011.0
121     PCFX  1996.0
126       PS  1998.0
136      PS2  2004.0
149      PS3  2011.0
157      PS4  2015.0
162      PSP  2006.0
173      PSV  2012.0
180      SAT  1995.0
185      SCD  1993.0
190     SNES  1993.0
197     TG16  1995.0
199       WS  2000.0
204      Wii  2009.0
213     WiiU  2014.0
221     X360  2010.0
232       XB  2004.0
239     XOne  2015.0

In [16]:
df = df.merge(platform_peak_year, on='Platform', how='left', suffixes=('', '_peak'))
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,sales_vs_genre_avg,above_genre_avg,genre_rank,top_3_in genre,percentile_within_genre,Publisher_dominant,is_dominant_publisher,Year_peak
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.57,True,1.0,True,1.000000,Nintendo,True,2009.0
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.94,True,1.0,True,1.000000,Nintendo,True,1985.0
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.59,True,1.0,True,1.000000,Nintendo,True,2009.0
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.57,True,2.0,True,0.999574,Nintendo,True,2009.0
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.62,True,1.0,True,1.000000,Nintendo,True,1989.0

In [17]:
df['is_peak_year_release'] = df['Year'] == df['Year_peak']
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,sales_vs_genre_avg,above_genre_avg,genre_rank,top_3_in genre,percentile_within_genre,Publisher_dominant,is_dominant_publisher,Year_peak,is_peak_year_release
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0.57,True,1.0,True,1.000000,Nintendo,True,2009.0,False
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.94,True,1.0,True,1.000000,Nintendo,True,1985.0,True
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.59,True,1.0,True,1.000000,Nintendo,True,2009.0,False
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.57,True,2.0,True,0.999574,Nintendo,True,2009.0,True
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.62,True,1.0,True,1.000000,Nintendo,True,1989.0,False

In [18]:
region_columns = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']
df['top_region'] = df[region_columns].idxmax(axis=1)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,...,sales_vs_genre_avg,above_genre_avg,genre_rank,top_3_in genre,percentile_within_genre,Publisher_dominant,is_dominant_publisher,Year_peak,is_peak_year_release,top_region
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,...,0.57,True,1.0,True,1.000000,Nintendo,True,2009.0,False,NA_Sales
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,...,0.94,True,1.0,True,1.000000,Nintendo,True,1985.0,True,NA_Sales
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,...,0.59,True,1.0,True,1.000000,Nintendo,True,2009.0,False,NA_Sales
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,...,0.57,True,2.0,True,0.999574,Nintendo,True,2009.0,True,NA_Sales
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,...,0.62,True,1.0,True,1.000000,Nintendo,True,1989.0,False,NA_Sales

In [19]:
df['top_region_share'] = np.where(
  df.Global_Sales > 0,
  df[region_columns].max(axis=1) / df.Global_Sales,
  0
)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,...,above_genre_avg,genre_rank,top_3_in genre,percentile_within_genre,Publisher_dominant,is_dominant_publisher,Year_peak,is_peak_year_release,top_region,top_region_share
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,...,True,1.0,True,1.000000,Nintendo,True,2009.0,False,NA_Sales,0.501450
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,...,True,1.0,True,1.000000,Nintendo,True,1985.0,True,NA_Sales,0.722664
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,...,True,1.0,True,1.000000,Nintendo,True,2009.0,False,NA_Sales,0.442490
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,...,True,2.0,True,0.999574,Nintendo,True,2009.0,True,NA_Sales,0.477273
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,...,True,1.0,True,1.000000,Nintendo,True,1989.0,False,NA_Sales,0.359260

In [20]:
genre_distribution_per_area = df.groupby('Genre')['top_region'].value_counts(normalize=True)
genre_distribution_per_area = genre_distribution_per_area.unstack(fill_value=0);
genre_distribution_per_area

top_region    EU_Sales  JP_Sales  NA_Sales  Other_Sales
Genre
Action        0.157117  0.201146  0.634801     0.006936
Adventure     0.123639  0.521773  0.353810     0.000778
Fighting      0.051887  0.349057  0.594340     0.004717
Misc          0.106958  0.255319  0.627372     0.010351
Platform      0.088036  0.106095  0.801354     0.004515
Puzzle        0.164948  0.170103  0.664948     0.000000
Racing        0.203363  0.054444  0.737390     0.004804
Role-Playing  0.079301  0.513441  0.405242     0.002016
Shooter       0.187023  0.080916  0.731298     0.000763
Simulation    0.168397  0.226067  0.602076     0.003460
Sports        0.146206  0.167945  0.680307     0.005541
Strategy      0.279001  0.337739  0.383260     0.000000

In [21]:
sales_vs_genre_avg = df.groupby('Genre')['Global_Sales'].transform('mean')
df['above_genre_avg'] = df.Global_Sales > sales_vs_genre_avg
df[['Name', 'Genre', 'Global_Sales', 'above_genre_avg']].head(10)

                        Name         Genre  Global_Sales  above_genre_avg
0                 Wii Sports        Sports         82.74             True
1          Super Mario Bros.      Platform         40.24             True
2             Mario Kart Wii        Racing         35.82             True
3          Wii Sports Resort        Sports         33.00             True
4   Pokemon Red/Pokemon Blue  Role-Playing         31.37             True
5                     Tetris        Puzzle         30.26             True
6      New Super Mario Bros.      Platform         30.01             True
7                   Wii Play          Misc         29.02             True
8  New Super Mario Bros. Wii      Platform         28.62             True
9                  Duck Hunt       Shooter         28.31             True

In [22]:
genre_weighted = df.groupby(['Genre', 'top_region'])['top_region_share'].sum()
genre_weighted=genre_weighted.unstack(fill_value=0)
genre_weighted = genre_weighted.div(genre_weighted.sum(axis=1), axis=0)
genre_weighted

top_region    EU_Sales  JP_Sales  NA_Sales  Other_Sales
Genre
Action        0.138991  0.259164  0.596175     0.005670
Adventure     0.106087  0.601768  0.291585     0.000559
Fighting      0.035560  0.431502  0.528918     0.004019
Misc          0.100600  0.310006  0.579701     0.009693
Platform      0.079778  0.130816  0.785356     0.004050
Puzzle        0.157270  0.189695  0.653035     0.000000
Racing        0.195276  0.070572  0.729112     0.005040
Role-Playing  0.073384  0.596578  0.328238     0.001801
Shooter       0.170371  0.108225  0.720790     0.000614
Simulation    0.161277  0.260823  0.574723     0.003177
Sports        0.135444  0.206202  0.653068     0.005286
Strategy      0.271017  0.404072  0.324911     0.000000

In [29]:
#Weighted regional dominance for peak-year games
games_peak_year = df[df['is_peak_year_release']]
weighted_peak_distribution = games_peak_year.groupby(['Genre', 'top_region'])['top_region_share'].sum()
weighted_peak_distribution = weighted_peak_distribution.unstack(fill_value=0)
weighted_peak_distribution = weighted_peak_distribution.div(weighted_peak_distribution.sum(axis=1), axis=0)
weighted_peak_distribution

top_region    EU_Sales  JP_Sales  NA_Sales  Other_Sales
Genre
Action        0.126963  0.179746  0.690930     0.002362
Adventure     0.126119  0.420966  0.452915     0.000000
Fighting      0.047584  0.387303  0.565113     0.000000
Misc          0.076596  0.303156  0.620249     0.000000
Platform      0.063824  0.153644  0.782531     0.000000
Puzzle        0.167853  0.172224  0.659923     0.000000
Racing        0.170122  0.082400  0.743997     0.003482
Role-Playing  0.047679  0.474667  0.477654     0.000000
Shooter       0.117229  0.112226  0.770545     0.000000
Simulation    0.209788  0.160772  0.624340     0.005100
Sports        0.132969  0.151464  0.715567     0.000000
Strategy      0.176490  0.405107  0.418403     0.000000